<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            height: 100vh;
            width: 100vw;
            background-image: linear-gradient(to bottom right, green, white);
        }
        input {
            width: 160px;
            height: 45px;
            font-size: 20px;
            padding: 5px;
            margin: 40px 20px;
        }
        button {
            width: 100px;
            height: 40px;
            font-size: 20px;
            padding: 5px;
            margin: 40px 20px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1 style="padding: 20px">This app creates a customised playlist based on your age and your favourite songs. You will be redirected to the playlist after you click "Submit". Enjoy!</h1>
    <form action="/recommendations">
        <input autocomplete="off" autofocus name="age" placeholder="Enter your age" type="number" min="1" max="120" required> 
        <button>Submit</button>
    </form>
</body>
</html>